* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch", sans-serif;
}

:root {
  --title-font: "Titillium Web", sans-serif;
  --color-primary: #16e0bd;
  --color-secondary: #303030;
  --color-tertiary: #e0860b;
  --color-complimentary: #fc5817;
  --color-darkblack: #141414;
  --default: #ffffff;
}
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* The sidebar menu | Ref: https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: var(--color-secondary);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--default);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: var(--color-primary);
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;

  box-shadow: 3px 3px var(--color-complimentary),
    -0.1em -0.1em 0.4em var(--color-complimentary);
  background: linear-gradient(var(--default), var(--color-primary));
  color: var(--color-secondary);

  position: fixed;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
}

.intro {
  text-align: center;
}

.role {
  background-color: var(--color-primary);
  padding: 20px;
  margin: 0 20px 20px 20px;
}

.intro img {
  width: 80%;
  height: 90%;
  box-shadow: 20px 20px 90px 2px var(--color-secondary);
  margin-bottom: 50px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me,
.education {
  background-color: var(--color-secondary);
  color: var(--default);
  min-height: 25rem;
}

/* .education {
  min-height: 50rem;
} */

.about-me h2 {
  color: var(--color-primary);
  font-family: var(--title-font);
  text-align: center;
  font-size: 60px;
  padding: 20px;
}

.skills h2,
.experience h2,
.education h2 {
  font-family: var(--title-font);
  text-align: center;
  font-size: 60px;
  padding: 20px;
}

hr {
  width: 50%;
  margin: 20px auto;
}

.about-me h3,
.about-me p {
  text-align: center;
  margin-bottom: 30px;
}

.bootstrap-svg {
  position: relative;
  left: 20%;
}

.js-svg {
  position: relative;
  left: 10%;
}

.skills img {
  transition: transform 0.4s ease-in-out;
}

.skills img:hover {
  transform: scale(1.1);
}

.work-experience:hover,
.studies:hover {
  transform: scale(1.03);
  background: linear-gradient(var(--default), var(--color-primary));
}

.about-me button {
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  margin-bottom: 20px;
  box-shadow: 3px 3px var(--color-complimentary),
    -0.1em -0.1em 0.4em var(--color-complimentary);
  background: linear-gradient(var(--default), var(--color-primary));
}

button:hover {
  background: linear-gradient(var(--color-primary), var(--default));
  box-shadow: 0 5px 15px var(--color-complimentary);
  transition: 0.4s ease-in-out;
}

.work-experience,
.studies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;

  border: 1px solid var(--color-primary);
  box-shadow: 3px 3px var(--color-complimentary),
    -0.2em 0 0.2em var(--color-primary);

  height: 10rem;
  margin: 20px 10px;

  text-align: center;

  background: linear-gradient(var(--color-primary), var(--default));
  color: var(--color-secondary);

  transition: transform 0.2s ease-in-out;
}

.experience {
  margin-bottom: 30px;
}

footer {
  background-color: var(--color-darkblack);
  color: var(--default);
}

.contact-info,
.follow-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  margin-top: 20px;
}

.follow-me-svg img {
  margin-right: 20px;
}

.contact h2 {
  color: var(--color-primary);
  text-shadow: 0 0 7px var(--color-primary), 0 0 10px var(--color-primary),
    0 0 21px var(--color-primary);
}

.email a,
.phone a {
  color: var(--default);
  text-shadow: 0 0 7px var(--color-complimentary),
    0 0 10px var(--color-complimentary), 0 0 21px var(--color-complimentary);
}

@media screen and (min-width: 768px) {
  .about-me button {
    font-size: 20px;
    width: 15rem;
    padding: 15px;
  }

  .dev-svg {
    display: flex;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .contact {
    display: flex;
    justify-content: space-between;
  }

  .contact-info {
    display: grid;
    margin-left: 10px;
  }

  .experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px repeat(2, 1fr);
  }
  .experience h2 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .ek {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px repeat(2, 1fr);
  }
  .education h2 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 1024px) {
  .dev-svg:first-of-type {
    margin-left: 50px;
  }
}
