* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch", sans-serif;
}

:root {
  --title-font: "Titillium Web", sans-serif;
  --color-primary: #16e0bd;
  --color-secondary: #303030;
  --color-tertiary: #e0860b;
  --color-complimentary: #fc5817;

  --default: #ffffff;
}
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  display: inline-block;
  cursor: pointer;

  position: relative;
  left: 85%;
  top: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.pre-intro::after {
  content: "\a";
  white-space: pre;
}

.intro {
  text-align: center;
}

.role {
  background-color: var(--color-primary);
  padding: 20px;
  margin: 0 20px 20px 20px;
}

.intro img {
  width: 80%;
  height: 90%;
  box-shadow: 20px 20px 90px 2px var(--color-secondary);
  margin-bottom: 50px;
}

.about-me,
.projects {
  background-color: var(--color-secondary);
  color: var(--default);
  min-height: 25rem;
}

/* .projects {
  min-height: 30rem;
} */

.about-me h2,
.projects h2 {
  color: var(--color-primary);
  font-family: var(--title-font);
  text-align: center;
  font-size: 60px;
  padding: 20px;
}

.skills h2,
.experience h2,
.education h2 {
  font-family: var(--title-font);
  text-align: center;
  font-size: 60px;
  padding: 20px;
}

hr {
  width: 50%;
  margin: 20px auto;
}

.about-me h3,
.about-me p {
  text-align: center;
  margin-bottom: 30px;
}

.checkout {
  background-color: var(--color-primary);
  color: black;
  padding: 20px;
  margin: 0 50px;
  font-weight: bolder;
  font-size: 17px;
}

.bootstrap-svg {
  position: relative;
  left: 20%;
}

.js-svg {
  position: relative;
  left: 10%;
}

.projects h3 {
  margin-left: 10px;
}

.project-subsection img {
  width: 80%;
  height: 50%;
  margin: 10px;
  border: 2px solid var(--color-complimentary);
}

.project-subsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;

  border: 1px solid var(--color-primary);
  border-radius: 10px;
  box-shadow: 3px 3px var(--color-complimentary),
    -0.2em 0 0.2em var(--color-primary);
  padding: 5px;
  margin: 20px 20px 0;
  background-color: var(--default);
  color: var(--color-secondary);

  transition: transform 0.2s ease-in-out;
}

.project-subsection:hover {
  transform: scale(1.03);
  background-color: var(--color-primary);
}

.project-subsection button {
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  margin-bottom: 20px;
  background-color: var(--color-primary);
  box-shadow: 3px 3px var(--color-complimentary),
    -0.1em -0.1em 0.4em var(--color-complimentary);
}

button:hover {
  box-shadow: 0 5px 15px var(--color-complimentary);
  background-color: var(--color-tertiary);
  transition: 0.4s ease-in-out;
}
